@charset "utf-8";
/* CSS Document */

.chat
{
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.chat li
{
    margin-bottom: 10px !important ;
    padding-bottom: 5px !important ;
    border-bottom: 1px dotted #B3A9A9 !important ;
}

.chat li.left .chat-body
{
    margin-left: 60px !important;
}

.chat li.right .chat-body
{
    margin-right: 60px !important;
}


.chat li .chat-body p
{
    margin: 0 !important;
    color: #777777 !important;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px !important;
}

.panel-body
{
    overflow-y: scroll !important;
    height: 250px !important;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    background-color: #F5F5F5 !important;
}

::-webkit-scrollbar
{
    width: 12px !important;
    background-color: #F5F5F5 !important;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
    background-color: #555 !important;
}
