.hide{
	visibility:hidden;!important
}

	
.current{
	z-index:5;
}
.previous{
	z-index:1;
}
.last{
	z-index:0;
}
.admin-body{
	background:url(../img/admin-body2.jpg) no-repeat;
	background-color:#333;

}
#admin-submit{
	margin-left:40px;
	margin-top:0 auto;
}
#admin-form{
	margin-top:130px;
}

#text-box{
	height:300px;
}

#upload-file-info{
	font-size:12px;
	color:#CCC;
}
.label{
	font-size:17px ;!important
	padding:5px 30px;
	color:#aec62c;
}

.cross i{
	cursor:pointer;
}

.cross{
	background:transparent;
	height:auto;
	padding:20px;
}
.leftwala img{
 width:97%; height:436px;
}

.rightwala img{
	width:100%;
		height:124px !important;

}

.rightwala{
	border-left:#aec62c 1px dotted;
}

.single-post-image {
	height:200px;
	width:100%;
}

.single-post-title h2{
	font-size:18px;
}

.leftwala{
	margin-left:0px;
}


@media(max-width:367px) {
.leftwala img{
	height:160px;
}
.rightwala img{
	width:100%;
		height:80px !important;
		margin-top:40px;

}
}

.section .col-sm-4{
	height:540px;
	overflow:hidden;
	  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  color: 0 1px 19px rgba(0, 0, 0, 0.4);
}
.ad.form-control {
	font-size: 18px;
	position: relative;
	left: 0;
	height: auto;
	margin:10px;
	padding: 5px 30px;
	border: 1px;
	border-radius: 0;
	box-shadow: 0;
}
.ad.form-control.form-white {
	color: #fff;
	border: 2px solid #aec62c;
	background: transparent;
	
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.filla{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:200;
}

#detail{
	margin-top:70px;
}
#more{
	border-radius: 50px;
}
#detail .col-sm-10{
	  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  color: 0 1px 19px rgba(0, 0, 0, 0.4);
}

 .navbar-default {
    background-color: #FFF;
    border-color: #CCC;
}
.navbar {
	background:#111;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
	
    .
	
	 {
        padding: 0;
    }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #aec62c;
    color: #fff;
}
.modal {
	padding: 0 25px !important;
}

.modal-dialog {
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
	
}

.modal-popup {
	position: relative;
	padding: 45px 30px;
	text-align: center;
	background:url(../img/admin-body2.jpg);
	box-shadow: none;
}

.modal-popup a.close-link {
	font-size: 22px;
	position: absolute;
	top: 20px;
	right: 30px;
	color: #fff;
}

.modal-msg,.modal-msg2, .modal-msg3{
	color:#926009;
	font-size:12px;
	font-weight:400;
	text-align:left;
}


.modal-error{
	background-color:#926009 !important;
}
.modal-error2{
	background-color:#F93 !important;
}


.popup-form {
	width: 90%;
	max-width: 375px;
	margin: 30px auto;
	
}
.popup-form .form-control {
	margin: 20px 0;
}


.popup-form .form-control.dropdown {
	text-align: left;
}

.popup-form .form-control.dropdown:after {
	content: '\f0d7';
	font-family: 'FontAwesome';
	display: inline-block;
	float: right;
	color: white;
}

.popup-form .dropdown .dropdown-menu {
	top: 65px;
	width: 100%;
	padding: 0;
	border: 2px solid white;
	border-top: 0;
	border-radius: 0;
	background: white;
	box-shadow: none;
}

.popup-form .dropdown .dropdown-menu li {
	font-size: 16px;
	width: 100%;
	background: #fff;
}

.popup-form .dropdown .dropdown-menu li a {
	width: 100%;
	padding: 3px 3px;
	color: #aec62c;
}

.popup-form .dropdown .dropdown-menu li:hover a {
	color: #fff;
	background: #aec62c;
}
.white {
	color: white;
}
.form-control {
	font-size: 18px;
	position: relative;
	left: 0;
	height: auto;
	padding: 20px 30px;
	border: 1px;
	border-radius: 0;
	box-shadow: 0;
}

.form-control.form-white {
	color: #fff;
	border: 2px solid white;
	background: transparent;
	
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.form-control.form-white::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #fff;
}

.form-control.form-white:-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 4 to 18 */
	color: #fff;
}

.form-control.form-white::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: #fff;
}

.form-control.form-white:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #fff;
}

.form-control.form-white:focus {
	background: rgba(255,255,255,0.2);
}

@media(max-width:767px) {
	
	.modal-popup {
	position: relative;
	padding: 45px 0px;
	background: url('../img/popup.jpg');
	box-shadow: none;
	border-radius: 15px;
	margin-left:0px;
}
.modal-msg,.modal-msg2, .modal-msg3{
	color:#926009;
	margin-top:5px;
	margin-left:7px;
	font-size:11px;
	font-weight:400;
	text-align:left;
}

.form-control {
	font-size: 12px;
	position: relative;
	left: 0;
	height: auto;
	padding: 10px 30px;
	border: 1px;
	border-radius: 0;
	box-shadow: 0;
}
}

#userli{
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	font-size:28px;
	background-image:url(../img/bg.jpg);
	color:#FFF;
	height:50px;
	font-weight:bold;
	
}

#adminli{
	font-weight:bold;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	font-size:28px;
	background-image:url(../img/bg.jpg);
	color:#FFF;
	height:50px;
	
}

.distance{

  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  color: 0 1px 19px rgba(0, 0, 0, 0.4);
}


	
.leftwala h2{
	font-size:23px;
	text-align:center;
	padding-top:5px;
	margin-left:-40px;
	
}

.news{
	margin:5px 0 10px 5px;
	border-bottom:#aec62c 1px dotted;
	
}

@media(max-width:367px) {
.news{
	font-size:17px;
	
}
.leftwala h2{
	font-size:15px;
	padding-bottom:25px;
	
}
}
/* Section Title */
.section-title h1{
	font-size:35px;
	text-transform:capitalize;
	font-weight:70;
	margin-left:30px;
	border-bottom:#aec62c 1px dotted; 
}

.section-title h1:before{
	display:block;
	float:left;
}

@media(max-width:767px) {
.section-title h1{
	font-size:17px;
	text-transform:uppercase;
	font-weight:700;
	margin-left:30px;
}
}





/* Portfolio Grid and Hover Effects */

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: left;
}

.grid figure {
	margin: 0;
	position: relative;
	margin-top:20px;
	  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 19px rgba(0, 0, 0, 0.4);
  color: 0 1px 19px rgba(0, 0, 0, 0.4);
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #000;
	color: #ed4e6e;
}

.grid figcaption h3 {
	font-size:13px;
	text-transform:uppercase;
	margin:  0 0 0 0;
	padding: 10px 0 0 0;
	color: #fff;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 0;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

.single-post-content p{
	font-size:16px;
}
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 80px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 30px;
	right: 20px;
}

/* Caption Style 2 */
.cs-style-2 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.cs-style-2 figcaption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.cs-style-2 figcaption a {
	position: absolute;
	right: 20px;
	top: 30px;
}


@media(max-width:367px) {

.grid figcaption h3 {
	font-size:11px;
	text-transform:uppercase;
	margin:  0 0 0 0;
	padding: 10px 0 0 0;
	color: #fff;
}

.grid figcaption a{
	font-size:10px;
	bottom: 30px;
	right: 5px;
	padding-left: 5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-top:5px;
}

.grid figcaption span{
	font-size:11px;
	font-weight:600;
}
}



@media(max-width:367px) {
#adminli,#userli{
	font-size:18px;
}
}


